h3 {
    color: darkred;
    text-align: center;
    padding: 10px;
}

.uni {
    color:azure;
    background-color: darkred;
    width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }